.card {
    max-height: 498px;
    padding: 50px 25px 20px;
    max-width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 1px solid rgba(29, 25, 38, 0.5);
    &__popular {
        position: absolute;
        top: 5px;
        left: 5px;
        text-transform: capitalize;
        font-size: 12px;
        line-height: 15px;
        font-family: 'Cinzel', serif;
    }
    &__img {
        width: 221px;
        height: 139px;
        margin-bottom: 30px;

        img {
            width: 100%;
            height: auto;
        }
    }
    &__title {
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    &__list {
        list-style: none;
        margin-bottom: 20px;
    }
    &__item {
        * {
            font-size: 12px;
            line-height: 15px;
        }
    }
    &__prop {
        font-weight: 600;
        margin-right: 10px;
    }
    &__price {
        font-size: 16px;
        line-height: 15px;
        font-weight: 600;
        margin-bottom: 30px;
    }
}
