.gallery {
  position: relative;
  background-color: #f6f6f6;
  padding-top: 80px;
  padding-bottom: 100px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
    margin-bottom: 60px;
  }
  &__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    gap: 53px;
  }
  &__slider-btn {
    width: 52px;
    height: 52px;
    border: 2px solid #f1cdb3;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    &:hover {
      background: #fddcc4;
    }
  }
  &__list {
    display: flex;
    gap: 90px;
  }
  &__card {
    background: #fafafa;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    height: 435px;
    cursor: pointer;
    &:hover {
      background-color: #fff;
      .gallery__card-btn {
        background-color: #fddcc4;
        border: 2px solid #fddcc4;
      }
    }
  }
  &__img {
    width: 270px;
    height: 270px;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__name {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
  }
  &__card-btn {
    border: 2px solid #f1cdb3;
    border-radius: 100px;
    padding: 13px 45px;
    background-color: transparent;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    // &:hover {
    //   background-color: #fddcc4;
    // }
  }
  &__btns-mobile {
    display: none;
  }
  &__btn {
    background: #f1cdb3;
    border-radius: 100px;
    padding: 15px 45px;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    &:hover {
      background-color: #fddcc4;
    }
  }
}
.cover {
  display: none;
  background: rgba(41, 41, 41, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background: #fafafa;
  border-radius: 9px;
  display: flex;

  max-width: 900px;
  width: 100%;
  z-index: 50;
  display: none;
  &__img {
    border-bottom-left-radius: 100px;
    width: 500px;
    height: 500px;
    margin-right: 29px;
    img {
      border-top-left-radius: 9px;
      border-bottom-left-radius: 9px;
      width: 100%;
      height: auto;
    }
  }
  &__content {
    width: 41%;
    margin-top: 50px;
    // margin-bottom: 88px;
    display: flex;
    flex-direction: column;
    // justify-content: end;
  }
  &__title {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */
    letter-spacing: 0.06em;
    color: #000000;
    margin-bottom: 9px;
  }
  &__subtitle {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    /* identical to box height, or 23px */
    letter-spacing: 0.06em;
    color: #000000;
    margin-bottom: 40px;
  }
  &__text {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    /* or 17px */
    letter-spacing: 0.06em;
    color: #000000;
    margin-bottom: 46px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  &__item {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    /* identical to box height, or 17px */
    letter-spacing: 0.06em;
    color: #f1cdb3;
    list-style: inside;
  }
  &__item_property {
    font-weight: 700;
    color: #000000;
  }
  &__item_value {
    color: #000000;
  }
  &__btn_close {
    position: absolute;
    width: 52px;
    height: 52px;
    border: 2px solid #f1cdb3;
    border-radius: 100px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -40px;
    top: -53px;
    outline: none;
    // &:hover {
    //   background: #fff;
    // }
  }
}

@media screen and (max-width: 1279px) {
  .card-hidden {
    display: none;
  }
  .gallery {
    padding-top: 120px;
    &__slider {
      gap: 12px;
    }
    &__list {
      gap: 40px;
    }
  }
  .modal {
    max-width: 630px;
    height: auto;
    &__text {
      font-size: 13px;
      margin-bottom: 18px;
    }
    &__img {
      width: 350px;
      height: 350px;
      margin-right: 9px;
    }
    &__content {
      margin-top: 11px;
    }
    &__subtitle {
      margin-bottom: 21px;
    }
    &__list {
      gap: 6px;
    }
  }
}

@media screen and (max-width: 767px) {
  .gallery {
    padding-top: 42px;
    padding-bottom: 40px;
    &__title {
      font-size: 25px;
      line-height: 32px;
      margin-bottom: 41px;
    }
    &__slider {
      flex-direction: column;
      gap: 0;
      margin-bottom: 0;
    }
    &__slider-btn {
      display: none;
    }
    &__btns-mobile {
      display: flex;
      justify-content: space-between;
      width: 68%;
      margin-bottom: 42px;
    }
    &__btn-mobile {
      width: 52px;
      height: 52px;
      border: 2px solid #f1cdb3;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      &:hover {
        background: #fddcc4;
      }
    }
    &__list {
      margin-bottom: 21px;
    }
    &__card-btn {
      padding: 13px 43px;
    }
  }
  .card-hidden {
    display: none;
  }
  .card-hidden-mobile {
    display: none;
  }
  .modal {
    padding: 10px;
    max-width: 240px;
    &__img {
      display: none;
    }
    &__content {
      width: 100%;
    }
    &__title,
    &__subtitle {
      text-align: center;
    }
  }
}
