* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
  border: none;
}
li:not(.modal__item) {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(90deg, #423429 37.42%, #171719 50%);
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding: 0 30px;
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding: 0 10px;
  }
}
