.header {
  padding: 60px 0;
  position: absolute;
  z-index: 10;
  width: 100%;
  &__wrapper {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  &__title > a {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #f1cdb3;
  }
  &__subtitle > a {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #ffffff;
  }
  &__burger {
    display: none;
  }
  &__nav-list {
    display: flex;
    gap: 36px;
  }
  &__item > a {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #cdcdcd;
  }
  &__item-checked > a {
    color: #fafafa;
    border-bottom: 3px solid #f1cdb3;
    padding-bottom: 3px;
  }
}
.logo__mobile {
  display: none;
}

@media screen and (max-width: 1279px) {
  .header {
    padding: 30px 0;
  }
}
//
//
//
//
//
//
//
//
//
//
@media screen and (max-width: 767px) {
  .logo__mobile {
    display: flex;
    z-index: 76;
    position: absolute;
    top: 30px;
    left: 10px;
  }
  .header {
    padding: 30px 0;
    &__wrapper {
      justify-content: flex-start;
      gap: 0;
    }
    &__logo {
      margin-right: 41px;
    }
    &__burger {
      position: absolute;
      right: 53px;
      top: 49px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      user-select: none;
      z-index: 70;
      gap: 9px;
      transition: all 0.3s ease-in-out;
    }
    &__burger-line {
      width: 30px;
      height: 2px;
      background: #fff;
      z-index: 75;
      background-color: #f1cdb3;
    }
    &__burger.open {
      transform: rotate(90deg);
      transition: all 0.3s ease-in-out;
      margin-left: 34px;
    }
    &__cover-undermenu {
      display: none;
      left: 0;
      top: 0;
      position: absolute;
      width: 100%;
      height: 823px;
      z-index: 20;
      background-color: rgba(41, 41, 41, 0.6);
      opacity: 50%;
    }
    &__menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      overflow-x: hidden;
    }
    &__nav {
      transition: 0.8s;
      display: flex;
      position: fixed;
      z-index: 50;
      background-color: #292929;
      width: 320px;
      min-height: 823px;
      top: 0;
      align-items: center;
      justify-content: center;
      height: 327px;
      &-list {
        flex-direction: column;
        gap: 40px;
        align-items: center;
        margin-left: -16px;
        li {
          a {
            font-size: 32px;
            line-height: 51px;
          }
        }
      }
    }
  }
  .nav__hidden {
    right: -320px;
  }
  .nav__open {
    right: 0;
  }
}
@media screen and (max-width: 320px) {
  .header__burger.open {
    margin-left: 0;
  }
  .header__nav-list {
    margin: 0;
  }
}
