.info {
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 100px;
  &__wrapper {
    display: flex;
    gap: 120px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  &__img {
    max-width: 300px;
    max-height: 408px;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 36%;
  }
  &__title {
    width: 70%;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
  }
  &__text {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4c4c4c;
  }
}
@media screen and (max-width: 1279px) {
  .info {
    padding-bottom: 60px;
    &__wrapper {
      flex-direction: column-reverse;
      gap: 80px;
    }
    &__form {
      width: 61%;
    }
  }
}
@media screen and (max-width: 767px) {
  .info {
    padding-top: 43px;
    padding-bottom: 42px;
    &__wrapper {
      gap: 41px;
    }
    &__form {
      width: 90%;
      align-items: center;
      gap: 23px;
    }
    &__title {
      width: 85%;
      font-size: 25px;
      text-align: center;
    }
    &__text {
      text-align: justify;
    }
    &__img {
      max-width: 260px;
      max-height: 353.6px;
    }
  }
}
