@import "normalize";
@import "global";
@import "header";
@import "intro";
@import "info";
@import "gallery";
@import "help";
@import "donation";
@import "footer";

@font-face {
  font-family: arial;
  src: url(../../assets/fonts/arial/arial-regular.ttf);
}
@font-face {
  font-family: georgia;
  src: url(../../assets/fonts/georgia/georgia-regular.ttf);
}
