.header {
    &__main {
        display: flex;
        color: $main-font-color;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }
}

.logo {
    font-size: 30px;
    text-transform: uppercase;
}

.nav__item,
.section__item {
    list-style: none;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}
.nav {
    width: 30%;
}
.nav__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav__item:hover {
    color: $main-color;
}

.basket {
    width: 30px;
    height: 30px;
    background-image: url('../image/icons/basket.svg');
    background-position: center center;
    background-repeat: no-repeat;
    &:hover {
        background-image: url('../image/icons/basket-hover.svg');
    }
}

.section {
    background-color: $main-color;
    padding: 22px 0;
    display: flex;
    align-items: center;
    &__list {
        color: $additional-font-color;
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.search {
    display: flex;
    gap: 10px;
    position: relative;
    align-items: center;
    &__input {
        height: 30px;
        max-width: 200px;
        border: none;
        outline: none;
        border-radius: 100px;
        padding: 10px;
        font-size: 14px;
    }
    &__btn {
        background-image: url('../image/icons/search.svg');
        width: 16px;
        height: 16px;
        background-position: center center;
        background-repeat: no-repeat;
        &:hover {
            background-image: url('../image/icons/search-hover.svg');
        }
    }
    &__cross {
        background-image: url('../image/icons/cross.svg');
        background-position: center center;
        background-repeat: no-repeat;
        position: absolute;
        width: 16px;
        height: 16px;
        right: 35px;
        top: 7px;
        display: block;
        &:hover {
            background-image: url('../image/icons/cross-hover.svg');
        }
    }
}

.section__item:hover {
    color: $main-font-color;
}
