@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel/Cinzel-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
